
CONNECTION c1 TYPE "sqlite:libsqlite" DBCSTR ":memory:";

DECLARE testTable 	AS TABLE(c1, "testTable");

PROGRAM.






TASK test(a, b, c, d) AS VOID
BEGIN
END;


TASK testB AS VOID
BEGIN
	$foo <- $bar;
	LOG "foo";
	$foo <- $bar;
END;


TASK main() AS VOID
BEGIN
	LOG "Run test..";

//	EXEC TASK foo();

	EXEC TASK testxxx(1, 2, 3);

	EXEC TASK testB;
END;

