
CONNECTION c1
begin
	"engine"	=> "sqlite:libsqlite",
	"database"	=> ":memory:";
end;


DECLARE table1 : TABLE(c1, "foo");

PROGRAM.


TASK t_1 : FETCH [ Table(c1, "test") ]
BEGIN
END;


TASK print(arg1) : VOID
BEGIN
	LOG "From task: " || print || " Argument1: " || arg1;
	
END;


TASK main : VOID
BEGIN

	LOG "Hello World";

	LOG "From task: " || main;
	LOG "From task: " || t_1;

	LOG "Connection: " || c1;

	LOG "Table: " || table1;

	EXEC TASK print(23);
END;


