

//CONNECTION c1 TYPE "sqlite:libsqlite" DBCSTR ":memory:";

//program testme;

program connectiondecl;

connection c1
begin
	"engine"	=> "sqlite:libsqlite",
	"library"	=> "sqlite3.dll",
	"database"	=> ":memory:";
end;



task main : void
begin
end;


