
program decl_connection;

CONNECTION c1
begin
	"engine"	=> "sqlite:libsqlite",
	"database"	=> ":memory:";
end;


DECLARE table1(arg1, arg2) : TABLE(c1, "mytable")
BEGIN
END;

DECLARE table2 : TABLE(c1, "mytable");



TASK main() : VOID;


