
program sections;

CONNECTION c1
begin
	"engine"	=> "sqlite:libsqlite",
	"database"	=> ":memory:";
end;

DECLARE testTable 	: TABLE(c1, "testTable");



task main : void
begin
 initialization:
 	log "foobar";
 rules:
 	log "rules";
 finalization:
 	log "final";
end;


